---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/Hero.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import BriefcaseIcon from "@/components/icons/BriefcaseIcon.svg";
import CodeIcon from "@/components/icons/CodeIcon.svg";
import AboutMe from "@/components/AboutMe.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.svg";
---

<Layout
  title="Portfolio de José Luis Tanicuchí - Desarrollador y programador web"
  description="Contrata a José Luis Tanicuchí Cadena para crear tu aplicación web. Desarrollador, asesor y programador web, especializado en el stack TALL (Tailwind, Alpine, Laravel y Livewire)."
>
  <main class="px-6">
    <SectionContainer class="pt-32 pb-12">
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <h2
          class="flex items-center mb-6 text-2xl font-semibold gap-x-2 text-black/80 dark:text-white"
        >
          <BriefcaseIcon class="m-1 size-8" />
          Experiencia
        </h2>
        <Experience />
      </SectionContainer>
      <SectionContainer id="proyectos">
        <h2
          class="flex items-center mb-6 text-2xl font-semibold gap-x-2 text-black/80 dark:text-white"
        >
          <CodeIcon class="m-1 size-8" />
          Proyectos
        </h2>
        <Projects />
      </SectionContainer>
      <SectionContainer id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
        >
          <ProfileCheck class="size-8" />
          Sobre mí
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
