---
const personalImageAlt = "José Luis";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal text-pretty order-2 md:order-1"
  >
    <p>
      Soy José Luis Tanicuchí. Conocí la programación hace 10 años. Actualmente
      estoy <strong
        >trabajando para una empresa privada (medio tiempo), creando contenido
        sobre programación en YouTube y trabajando como desarrollador/consultor
        freelance</strong
      >.
    </p>

    <p>
      Entre mis logros está <strong
        >desarrollar y desplegar una plataforma de facturación para más de 100
        clientes</strong
      >. Estando a cargo de todo el proyecto.
    </p>

    <p>
      Como creador de contenido, <strong
        >cuento con el primer canal en compartir un curso de desarrollo de
        código para firmar archivos XML bajo el estándar <em class="italic"
          >XAdES-BES</em
        > con Vanilla JavaScript</strong
      >. Mi objetivo es mejorar la empleabilidad de la comunidad ecuatoriana y
      el acceso a contenido más complejo en español, enfocándome en
      herramientas, tips y habilidades blandas.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
